.project_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding: 20px;
    margin: 25px 0;
}

h2 {
    display: block;
    text-align: center;
    font-size: 30px;
}

.project_item {
    position: relative; 
    overflow: hidden; 
    border-radius: 23px;
    text-align: center;

    img {
        width: 300px;
        height: 300px;
        object-fit: cover;
        transition: all 0.3s ease; 
        border-radius: 30px;
    }

    h3 {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 18px;
        font-weight: bold;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &:hover img {
        filter: brightness(50%);
    }

    &:hover h3 {
        opacity: 1;
    }
}
