.project_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 30px 250px;
    margin: 25px 0;
}

.title {
    display: block;
    text-align: center;
    font-size: 35px;
}

.project_item {
    position: relative; 
    overflow: hidden; 
    border-radius: 0px;
    text-align: center;

    img {
        width: 400px;
        height: 200px;
        object-fit: cover;
        transition: all 0.3s ease; 
        border-radius: 0px;
    }

    h3 {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 18px;
        font-weight: bold;
        opacity: 0;
        transition: all 0.3s ease;
    }

    &:hover img {
        filter: brightness(50%);
    }

    &:hover h3 {
        opacity: 1;
    }
}


.btn {
    padding: 20px 40px;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    background-color: rgb(152 59 69);
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    display: flex;
    text-align: center;
        margin: auto;
    margin-bottom: 50px;
    font-weight: 500;
}