.wrapper {
  text-align: left;
  padding: 30px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.btn {
  padding: 20px;
  border-radius: 20px;
  border: none;
  background-color: #dbb12c;
}

.formWrapper {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}

.input_container {
  margin-bottom: 15px;
  
  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  textarea {
    width: 300px;
    padding: 8px;
    box-sizing: border-box;
    resize: none;
  }
}
