.wrapper {
  padding: 30px;
  text-align: left;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px; /* Zmniejsza odstęp między obrazem a formularzem */
}

.formWrapper {
  font-size: 20px;
  font-weight: 400;
  width: 50%; /* Formularz zajmuje połowę szerokości kontenera */
}

.input_container {
  margin-bottom: 15px;
  
  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  textarea {
    width: 100%; /* Elementy formularza zajmują całą szerokość dostępnego miejsca */
    padding: 8px;
    box-sizing: border-box;
    resize: none;
  }
}

.btn {
  padding: 20px;
  border-radius: 20px;
  border: none;
  background-color: #dbb12c;
  cursor: pointer;
}
