.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.formWrapper {
  font-size: 20px;
  font-weight: 400;
  width: 55%; 
  padding: 50px;
  border-radius: 35px 0 35px 0;
  background: white;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.input_container {
  margin-bottom: 15px;
  
  label {
    display: block;
    margin-bottom: 5px;
  }

  input,
  textarea {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    resize: none;
  }
}

.btn {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #dbb12c;
  cursor: pointer;
  font-size: large;
}

.sideImage {
  width: 25%;
  height: auto;
  
}