.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   color: white;
    padding: 0;
    width: 80%;
    text-align: center;
    margin: auto;
    font-weight: 500;
    
  }
  
  .list li {
    width: 30%;
    margin: 1%;
    text-align: center;
    
  }
  


  .icon {
    width:65px;
    fill: #dbb12c;
    padding: 0;
    margin: auto;
  }