.wrapper {
  text-align: center;
  background: rgb(243, 243, 243);
  
  padding: 30px;
  font-size: 18px;
  font-weight: 400;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin: 0 auto; 
  margin-top: -50px; 
  position: relative; 
}

.forwhat {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  width: 80%;
  margin: auto;
}


.slash {
  font-size: 15px;
  color: rgb(82, 32, 3);
  font-weight:bold;
}

.underline {
  width: 3%;
  height: 0.5px;
  background-color: rgba(82, 32, 3, 0.747);
  margin-left: 670px;
  margin-top: -8px;
}