.wrapper {
  text-align: center;
  background: rgb(255, 255, 255);
  
  padding: 30px;
  font-size: 18px;
  font-weight: 400;
  width: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  margin: 0 auto; 
  margin-top: -50px; 
  position: relative; 
}

.forwhat {
  margin-top: 20px;
  color: rgb(0, 0, 0);
  width: 80%;
  margin: auto;
}
