.wrapper {
    text-align: center;
    background-color: #241711;
    padding: 30px;
  }
  
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
   color: white;
    padding: 0;
    width: 80%;
    text-align: center;
    margin: auto;
  }
  
  .list li {
    width: 30%;
    margin: 1%;
    text-align: center;
    
  }
  
  .forwhat {
    margin-top: 20px;
    color: white;
    width: 80%;
    margin: auto;
  }

