.wrapper {
    text-align: left;
    
    background: radial-gradient(circle, rgba(36,23,17,1) 70%, rgba(60,45,38,1) 100%);
    color: white;
    padding: 30px;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}

.dsc { 
    text-align: center;
    width: 60%;
    margin-left: 300px;
    font-size: 20px;
    font-weight: 300;
}

.btn {
    padding: 20px;
    border-radius: 20px;
    border: none;
    background-color: #dbb12c;
}

.image img {
    max-width: 100%;
    height: auto;
}
