.container {
    text-align: center;
    padding: 40px 0;
    background: rgba(201,184,160,1);
    color: #fff;
    width: 100%;
    position: relative; 
    align-items: center;
    margin: 0 auto; 

    h2 {
        margin-bottom: 20px;
        font-size: 24px;
        color: #fff;
    }
}

.steps {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 250px;

    .step {
        max-width: 150px;
        cursor: pointer;
        transition: transform 0.3s;

        &.active {
            .icon {
                background-color: #ffc107; 
            }
        }

        .icon {
            background-color: #ddd;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 auto 10px;
            transition: background-color 0.3s;

            img {
                width: 50%;
                height: 50%;
            }
        }

        h3 {
            font-size: 16px;
            margin: 10px 0 5px;
            color: #fff;
        }
    }

    
}

.description {
    margin-top: 20px;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    

    p {
        margin: 0;
        width: 70%; 
    }
}


.button {
    background-color: #ffc107;
    color: #000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #e0a800;
    }
}

