.footer {
  flex-grow: 0;
  flex-shrink: 0;
  background-color: #241711;
  color: white;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  padding: 15px 0; 
  width: 100%;
  margin: auto;
}

.logo_section {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.social {
 
  display: flex;
  gap: 15px;
}

.icon {
  width: 25px;
  fill: white;

  &:hover {
    fill: #dbb12c;
    cursor: pointer;
  }
}

.sections {
  display: flex;
  flex-direction: column;
  align-items: center;
}
