li {
  list-style: none;
}

/* html body {
  min-width: 320px;
  max-width: 767px;
  margin: 0 auto;
  padding: 0;
}

@media (min-width: 768px) and (max-width: 1199px) {
  html body {
    max-width: 1199px;
    min-width:768px
  }
}
@media (min-width: 1200px) {
  html body {
    max-width: 100%;
    
  }
} */



