.slider {
    display: block;
    text-align: center;
    margin: auto;
    background-color: rgb(155, 155, 155);
    padding: 15% 0 15% 0;

}

.dsc {
    font-size: 20px;
}

.btn {
    padding: 15px;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    background-color: #dbb12c;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
}